#character-container{
    position: fixed;
    right: 0px;
    bottom: 0;

    width: 1500px;
    height: 400px;

    z-index: 1000;
    overflow: visible;
    pointer-events: none;

    
}

#character-container canvas{
    display: block;
    width: 100%;
    height: 100%;
}