*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;

    background:var(--bg);

    color:var(--text);

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

}

button{

    font-family:inherit;

    cursor:pointer;

}

.container{

    width:min(92%,1200px);

    margin:auto;

}