/* ===========================
   PORTFOLIO VIEW
=========================== */

.portfolio-view{

    min-height:100vh;

    padding:80px 0;

    background:var(--background);

}

.portfolio-container{

    width:min(1200px,92%);

    margin:auto;

}

.back-btn{

    background:var(--primary);

    color:var(--button-text);

    border:none;

    padding:5px 5px;

    border-radius:40px;

    font-size: 0.7rem;

    font-weight:600;

    cursor: pointer;

    transition:.3s;

}

.view-title{

    font-size:2.5rem;

    margin-bottom:10px;
    margin-top: 20px;

}

.view-description{

    color:var(--text-light);

    margin-bottom:40px;

}